
.action_main{
  display: flex;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}

.main{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  border: 1px black solid;
  height: 20rem;
  width: 40rem;
  padding: 10rem;
  margin-top: 10%;
  border-radius: 10px;
}

.counter{
  display: flex;
  min-height: 6rem;
  min-width: 20rem;
  align-items: center;
  justify-content: center;
  
}

.action{
  display: flex;
  align-items: center;
  margin-top: -20%;
}

.btn {
  /* width: 5rem;
  height: 2rem; */
  margin: 1rem;
  border-radius: 5rem;
  outline: none;
  background-color: rgb(49, 218, 209);
  color: white;
  font-size: 20px;
}

.container{
  margin-left: 20%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




